{% extends 'base.html' %}
{% block content %}

<style>

</style>


<header class="jumbotron hero-spacer">
    <h2 class="dark">Hopcam <small>for the peeping tom in all of us</small></h2>

    <p> I enjoy a good timelapse video as much as the next guy (maybe more).
        The operation almost looks simple at these speeds. I'm considering a live stream,
        but let's make sure these hops feel at home first!
    </p>
    <p>
        <a href ="{{ url_for('timelapse') }}" class="btn btn-primary btn-large pull-left">Timelapse!</a>

        <div class="status-block pull-right">
            <p class="pull-left" style="position:relative; top:8px; font-size: small">cam status </p>
{#            <i class="fa fa-thumbs-down status-icon pull-right" style="color:red"></i>#}
            <i class="status-icon fa fa-thumbs-up fa-2x pull-right" style="color:green;"></i>
{#            <i class="fa fa-question-circle" style="color:orange"></i>#}
        </div>
    </p>
</header>

<hr>

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <h3><i class="fa fa-camera" style="color:darkgray"></i> Current Snapshot</h3>
            <a data-toggle="modal" data-target="#current_snapshot">
                <img class="img-responsive img-hover" src="{{ url_for('static', filename='img/current-thumb.jpg') }}" alt="">
            </a>
            <div class="caption">
                <p>A snapshot from within the last minute.</p>
            </div>
            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#current_snapshot">View Now</button></p>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <h3><i class="fa fa-film" style="color:darkgray"></i> Yesterday's Timelapse</h3>
            <a data-toggle="modal" data-target="#yesterday_timelapse">
                <img class="img-responsive img-hover" src="{{ url_for('static', filename='img/current-thumb2.jpg') }}" alt="">
            </a>
            <div class="caption">
                <p>See what went on yesterday.</p>
            </div>
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yesterday_timelapse">View Yesterday</button>
                <a href="{{ url_for('timelapse') }}" class="btn btn-default">More Videos</a>
            </p>
        </div>
    </div>

</div><!-- /.row -->

<hr>

<!-- Current Image Modal -->
<div class="modal fade" id="current_snapshot" role="dialog" tabindex="-1" aria-labelledby="myLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Current Snapshot</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="{{ url_for('static', filename='img/current.jpg') }}" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Current Movie Modal -->
<div class="modal fade" id="yesterday_timelapse" tabindex="-1" role="img" aria-labelledby="LABEL" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">{{ yesterday['description'] }}</h4>
      </div>
      <div class="modal-body text-center">
          <div class="embed-container">
              <iframe src="//www.dailymotion.com/embed/video/{{ yesterday['id'] }}" frameborder="0" allowfullscreen></iframe>
          </div>
          <br />
          <a href="http://www.dailymotion.com/video/{{ yesterday['id'] }}" target="_blank">{{ yesterday['title'] }}</a>
          <i>by <a href="http://www.dailymotion.com/revmic" target="_blank">revmic</a></i>
      </div>
      <div class="modal-footer">
          <a href="{{ url_for('timelapse') }}" class="btn btn-primary">View Others</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}