{% extends 'base.html' %}
{% block content %}

<style>
.hero-spacer {
    margin-top: 30px;
}
.hero-feature {
    margin-bottom: 30px;
}
.status-block {
    background-color:white;
    border: 1px solid gray;
    border-radius:5px;
    padding:0 10px 0 10px;
    opacity:0.5;
}
.status-icon {
    position: relative;
    top: 5px;
}
.jumbotron {
{#    background-color:white;#}
    padding: 15px;
    padding-bottom: 50px;
}
.jumbotron>p {
    font-size: medium;
}
</style>

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h2 class="dark">Hopcam <small>for the peeping tom in all of us</small></h2>

    <p> I enjoy a good timelapse video as much as the next guy (maybe more).
        The operation almost looks simple at these speeds. I'm considering a live stream,
        but let's get these hops feeling at home first!
    </p>
    <p>
        <a href ="{{ url_for('timelapse') }}" class="btn btn-primary btn-large pull-left">View timelapse videos!</a>

        <div class="status-block pull-right">
            <p class="pull-left" style="position:relative; top:8px; font-size: small">camera status </p>
{#            <i class="fa fa-thumbs-down status-icon pull-right" style="color:red"></i>#}
            <i class="status-icon fa fa-thumbs-up fa-2x pull-right" style="color:green;"></i>
{#            <i class="fa fa-question-circle" style="color:orange"></i>#}
        </div>
    </p>
</header>

<hr>

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <i class="fa fa-camera fa-4x pull-left"></i> <h3>Current Snapshot</h3>
            <a id="cur_snap" data-toggle="modal" data-target="#current_snapshot">
                <img class="img-responsive img-hover" src="{{ url_for('static', filename='img/current-thumb.jpg') }}" alt="">
            </a>
            <div class="caption">
                <p>A snapshot from within the last minute.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#current_snapshot">View Now</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
            <i class="fa fa-film fa-4x pull-left"></i> <h3>Yesterday's Timelapse</h3>
            <a data-toggle="modal" data-target="#yesterday_timelapse">
                <img class="img-responsive img-hover" src="{{ url_for('static', filename='img/current-thumb2.jpg') }}" alt="">
            </a>
            <div class="caption">
                <p>We'll include the most recent day and others that we deem notable.</p>
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yesterday_timelapse">View Yesterday</button>
                    <a href="{{ url_for('timelapse') }}" class="btn btn-default">More Videos</a>
                </p>
            </div>
        </div>
    </div>

</div><!-- /.row -->

<hr>

<!-- Current Image Modal -->
<div class="modal fade" id="current_snapshot" role="dialog" tabindex="-1" aria-labelledby="myLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Current Snapshot</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="{{ url_for('static', filename='img/current.jpg') }}" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Current Movie Modal -->
<div class="modal fade" id="yesterday_timelapse" tabindex="-1" role="img" aria-labelledby="LABEL" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">{{ yesterday['description'] }}</h4>
      </div>
      <div class="modal-body text-center">
          <iframe frameborder="0" width="600" height="400" src="//www.dailymotion.com/embed/video/{{ yesterday['id'] }}" allowfullscreen></iframe>
          <br /><a href="http://www.dailymotion.com/video/{{ yesterday['id'] }}" target="_blank">{{ yesterday['title'] }}</a>
          <i>by <a href="http://www.dailymotion.com/revmic" target="_blank">revmic</a></i>
      </div>
      <div class="modal-footer">
          <a href="{{ url_for('timelapse') }}" class="btn btn-primary">View Others</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}